<h1>Cart</h1>
<% @cart_products.each do |cart_product| %>
  <div>
    <h3><%= cart_product.product.title %></h3>
    <p>Quantity: <%= cart_product.quantity %></p>
    <p>Price: <%= cart_product.total_price %></p>
    <!-- Add other details of cart product -->
  </div>
<% end %>

<%= link_to 'Checkout', checkout_cart_path(@cart), method: :patch %>
